<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link rel="stylesheet" href="harid.css" />
  </head>
  <body>
    <div class="container">
      <h1>REJA VA MAQSADLAR</h1>
      <div class="container2">
        <form action="/create-item" method="POST">
          <div class="container3">
            <input
              id="create-field"
              name="item"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              type="text"
              style="flex: 1"
              aria-label="Yangi Harid Qo'shish"
            />
            <button class="one">Yangi Harid Qilish</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
