.frame {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(229, 229, 229);
}
/* MAIN FRAME */
.frame .main_frame {
  position: relative;
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(229, 229, 229);
}

/* LEFT FRAME */
.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px dotted #767676;
}

.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_frame .left_1 .left_1-1 {
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
  display: flex;
  flex-direction: column;
}

.main_frame .left_frame .left_1-2 {
  position: relative;
  width: 266.63px;
  height: 20.9px;
  margin-bottom: 6.65px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  color: #2b2b2b;
}

.main_frame .left_frame .left_1-3 {
  position: relative;
  width: 147.84px;
  height: 25.65px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}

.left-icons {
  position: relative;
  width: 238px;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.link_href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.99px;
  height: 21.61px;
  border-radius: 50%;
  filter: drop-shadow(0 4px rgb(0, 0, 0, 0.25));
  left: 10px;
  right: 156.01px;
}

.icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}

.main_frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}

.main_frame .left_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
}

.main_frame .left_frame .left_2-1 {
  position: relative;
  width: 221px;
  height: 25px;

  display: flex;
  justify-content: space-between;
}

.main_frame .left_frame .one {
  margin-top: 10px;
  background-color: #ffb400;
}

.main_frame .left_frame .left_2-2 {
  position: relative;
  width: 220px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_frame .left_frame .left_2-3 {
  position: relative;
  width: 220px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left_frame .left_2-3 p {
  margin-top: 5px;

  color: #7eb942;
}

.main_frame .left_frame .left_2-4 {
  position: relative;
  width: 220px;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
}

.main_frame .left_frame .left_3-1 {
  margin-bottom: 5px;
  position: relative;
  width: 95px;
  height: 22px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;

  color: #2b2b2b;
}
.main_frame .left_frame .left_3-2 {
  margin-top: 10px;
  position: relative;
  width: 220px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_frame .left_frame .left_3-3 {
  position: relative;
  width: 219px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_frame .left_frame .left_3-4 {
  position: relative;
  width: 219px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_frame .left_3 .box_1 {
  position: relative;
  width: 220px;
  height: 4px;

  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
}

.main_frame .left_3 .box_1-1 {
  margin-top: 1px;
  position: relative;
  width: 217px;
  height: 2px;

  background: #ffb400;
}

.main_frame .left_3 .box_1-2 {
  margin-top: 1px;
  position: relative;
  width: 190px;
  height: 2px;

  background: #ffb400;
}

.main_frame .left_3 .box_1-3 {
  margin-top: 1px;
  position: relative;
  width: 208px;
  height: 2px;

  background: #ffb400;
}

.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
}

.main_frame .left_4 .box_1 {
  position: relative;
  width: 220px;
  height: 4px;

  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;
}

.main_frame .left_4 .box_1-1 {
  margin-top: 1px;
  position: relative;
  width: 209px;
  height: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffb400;
}

.main_frame .left_4 .box_1-2 {
  margin-top: 1px;
  position: relative;
  width: 207px;
  height: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffb400;
}

.main_frame .left_4 .box_1-3 {
  margin-top: 1px;
  position: relative;
  width: 201px;
  height: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffb400;
}

.main_frame .left_4 .box_1-4 {
  margin-top: 1px;
  position: relative;
  width: 187px;
  height: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffb400;
}

.main_frame .left_4 .box_1-5 {
  margin-top: 1px;
  position: relative;
  width: 207px;
  height: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffb400;
}

.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
}

.main_frame .left_5 .left_5-0 {
  margin-bottom: 5px;
  position: relative;
  width: 95px;
  height: 22px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;

  color: #2b2b2b;
}

.main_frame .left_5 .left_5-1 {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  width: 186px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
}

/* MIDDLE FRAME*/
.midd_frame {
  margin-left: 20px;
  position: relative;
  width: 971px;
  height: 9015px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #f0f0f6;
}

.main_frame .midd_frame .midd_top {
  position: relative;
  width: 971px;
  height: 454.33px;

  display: flex;
  flex-direction: row;
  background: #ffffff;
}

.main_frame .midd_frame .round {
  position: absolute;
  width: 16.02px;
  height: 15.57px;
}
.main_frame .midd_top .top_left {
  margin-left: 61px;
  position: relative;
  width: 583px;
  height: 454px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_frame .midd_top .top_right {
  position: relative;
  width: 326.06px;
  height: 446.63px;
}

.main_frame .top_left .headline {
  position: relative;
  width: 499.51px;
  height: 116.74px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;

  color: #2b2b2b;
}

.main_frame .top_left .text {
  position: absolute;
  width: 424.44px;
  height: 85.61px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #767676;
}

.main_frame .top_left .click {
  position: relative;
  width: 154px;
  height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  font-style: normal;

  color: #2b2b2b;
  background-color: #ffb400;
}

.main_frame .midd_top .top_right {
  margin-right: 56px;
  position: relative;
  width: 326.06px;
  height: 446.63px;

  border: 1px dotted #767676;
}

.main_frame .midd_frame .midd_bott {
  margin-top: -2px;
  position: relative;
  width: 970px;
  height: auto;
  background: #f0f0f6;
}

.main_frame .midd_bott h1 {
  margin-left: 378px;
  margin-top: 100px;
  position: relative;
  width: 193px;
  height: 40px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;

  color: #2b2b2b;
}

.main_frame .midd_bott span {
  margin-left: 266px;
  margin-right: 266px;
  position: relative;
  width: 438px;
  height: 68px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #767676;
}

.main_frame .midd_bott .container {
  margin-top: 50px;
  position: relative;
  width: 970px;
  height: 630px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_frame .midd_bott .category_box {
  margin-left: -15px;
  position: relative;
  width: 290px;
  height: 225px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: #ffffff;
}

.main_frame .category_box img {
  margin-left: 115px;
  position: relative;
  width: 68px;
  height: 68px;
}

.main_frame .category_box strong {
  margin-left: 76px;
  position: relative;
  width: 158px;
  height: 22px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;

  color: #2b2b2b;
}

.main_frame .category_box p {
  margin-left: 35px;
  position: relative;
  width: 246px;
  height: 24px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #767676;
}

.main_frame .category_box .text_2 {
  margin-left: 25px;
  position: relative;
  width: 260px;
  height: 78px;

  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #767676;
}

.main_frame .category_box span {
  margin-left: 87px;
  position: relative;
  width: 86px;
  height: 20px;

  font-family: sans-serif;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #ffb400;
}

/* PRICE FRAME */
.price_frame {
  position: relative;
  width: 970px;
  height: 793px;
}

.price_frame h1 {
  margin-left: 388px;
  position: relative;
  width: 174px;
  height: 40px;

  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  color: #2b2b2b;
}

.price_frame .text_1 {
  margin-left: 234px;
  position: relative;
  width: 438px;
  height: 68px;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
}

.price_frame .container {
  margin-top: 51px;

  position: relative;
  width: 970px;
  height: 609px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price_frame .container .silver_box {
  position: relative;
  width: 308px;
  height: 609px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #ffffff;
}

.container .silver_box .headline_2 {
  margin-left: 136px;
  position: relative;
  width: 66px;
  height: 30px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 123.6%;
  color: #2b2b2b;
}
/* ??? */
.container .silver_box .headline_3 {
  margin-left: 82px;
  position: relative;
  width: 145px;
  height: 40px;

  display: flex;
  flex-direction: row;
}
/* ??? */

.container .silver_box .text_2 {
  margin-left: 31px;
  position: relative;
  width: 248px;
  height: 48px;

  display: flex;
  align-items: center;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #767676;
}

.container .silver_box .category_list {
  margin-left: 33px;
  position: relative;
  width: 253px;
  height: 305px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.silver_box .category_list .tick_box {
  position: relative;
  width: auto;
  height: 24px;
}

.category_list .tick_box img {
  margin-right: 15px;
}

.category_list .close_box img {
  margin-right: 15px;
}

.container .silver_box .order_box {
  margin-left: 70px;
  position: relative;
  width: 169px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;

  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}

.container .silver_box .yellow {
  margin-top: -9px;
  margin-bottom: 19px;
  position: relative;
  width: 310px;
  height: 30px;

  display: flex;
  justify-content: st;
  align-items: flex-start;

  background: #ffb400;
}

.container .silver_box .order_box_2 {
  margin-left: 70px;
  position: relative;
  width: 169px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;

  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  background: #ffb400;
}

.container .silver_box .headline_2-2 {
  margin-top: -71px;
  margin-left: 136px;
  position: relative;
  width: 55px;
  height: 30px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 123.6%;
  color: #2b2b2b;
}

/*RECOMMENDATION FRAME */
.midd_frame .recomm {
  margin-top: 70px;
  position: relative;
  width: 970px;
  height: 566px;

  display: flex;
  flex-direction: column;
}

.midd_frame .recomm .headline_1 {
  margin-left: 345px;
  position: relative;
  width: 294px;
  height: 40px;

  color: #2b2b2b;
}

.midd_frame .recomm .text_1 {
  margin-top: 25px;
  margin-left: 273px;
  position: relative;
  width: 438px;
  height: 68px;

  color: #767676;
}

.midd_frame .recomm .container {
  margin-top: 50px;
  position: relative;
  width: 970px;
  height: 323px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recomm .container .left_box {
  position: relative;
  width: 310px;
  height: 323px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #ffffff;
}

.container .left_box .start_box {
  margin-left: 25px;
  position: relative;
  width: 130px;
  height: 17.37px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .left_box .headline_2 {
  margin-top: -45px;
  margin-left: 25px;
  position: relative;
  width: 119px;
  height: 22px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;

  color: #2b2b2b;
}

.container .left_box .text_2 {
  margin-left: 25px;
  position: relative;
  width: 262px;
  height: 89px;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #767676;
}

.container .left_box .profile {
  margin-left: 25px;
  position: relative;
  width: 216px;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left_box .profile .img {
  position: relative;
  width: 80px;
  height: 80px;

  border: 1px dotted black;
}

.left_box .profile .about {
  margin-top: 30px;
  position: relative;
  width: 117px;
  height: 41px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recomm .container .middle_box {
  position: relative;
  width: 310px;
  height: 323px;

  background: #ffffff;
}

.recomm .container .right_box {
  position: relative;
  width: 310px;
  height: 323px;

  background: #ffffff;
}

.recomm .dot {
  margin-top: 60px;
  margin-left: 452px;
  position: relative;
  width: 50px;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recomm .dot img {
  position: relative;
  width: 10px;
  height: 15px;
}

/*  EDUCATION FRAME*/
.education {
  margin-top: 70px;
  position: relative;
  width: 970px;
  height: 815px;
}

.education .headline_1 {
  margin-left: 345px;
  position: relative;
  width: 294px;
  height: 40px;

  color: #2b2b2b;
}

.education .text_1 {
  margin-top: 25px;
  margin-left: 273px;
  position: relative;
  width: 438px;
  height: 68px;

  color: #767676;
}

.education .container {
  margin-top: 50px;
  position: relative;
  width: 970px;
  height: 632px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: #ffffff;
}

.education .container .box {
  position: relative;
  width: 904px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .left_box {
  margin-top: 4px;
  position: relative;
  width: 184px;
  height: 68px;
}

.box .left_box .student {
  position: relative;
  width: 190px;
  height: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left_box .student .student_right {
  position: relative;
  width: 130px;
  height: 18px;

  background: #ffb400;
}

.container .box .right_box {
  position: relative;
  width: 536px;
  height: 150px;
}

/* PORTFOLIO */
.portfolio {
  margin-top: 70px;
  position: relative;
  width: 970px;
  height: 1195px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio .headline_1 {
  margin-left: 410px;
  position: relative;
  width: 135px;
  height: 40px;

  color: #2b2b2b;
}

.portfolio .text_1 {
  margin-left: 266px;
  position: relative;
  width: 438px;
  height: 68px;
}

.portfolio .category_list {
  margin-left: 182px;
  position: relative;
  width: 606px;
  height: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
}

.portfolio .category_list .yellow {
  color: #ffb400;
}

.portfolio .container .img_box {
  position: relative;
  width: 970px;
  height: 970px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .img_box img {
  margin-top: 20px;
  border: 1px dotted black;
}

/* BLOG FRAME */
.blog {
  margin-top: 10px;
  position: relative;
  width: 970px;
  height: 665px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border: 1px dotted black;
}

.blog .headline_1 {
  margin-left: 446px;
  position: relative;
  width: 70px;
  height: 40px;

  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;

  color: #2b2b2b;
}

.blog .text_1 {
  margin-left: 266px;
  margin-top: 56px;
  position: relative;
  width: 438px;
  height: 68px;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;

  color: #767676;
}

.blog .container {
  position: relative;
  width: 970px;
  height: 474px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog .container .left {
  position: relative;
  width: 310px;
  height: 474px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #ffffff;
}

.container .left img {
  border: 1px dotted black;
}

.container .left .text_2 {
  margin-left: 25px;
}

.left .text_2 .learn {
  margin-bottom: 18px;
  position: relative;
  width: 98px;
  height: 22px;

  color: #ffb400;
}

/* ABOUT FRAME */
.about_frame {
  margin-top: 70px;
  position: relative;
  width: 970px;
  height: 755px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: red;
}

.about_frame .left_container {
  position: relative;
  width: 570px;
  height: 755px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_frame .left_container .headline_1 {
  position: relative;
  width: 289px;
  height: 40px;

  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
}

.about_frame .left_container .wrapper_1 {
  position: relative;
  width: 570px;
  height: 665px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
}

.left_container .wrapper_1 .box_1 {
  position: relative;
  width: 521px;
  height: 50px;

  background: #f0f0f6;
}

.left_container .wrapper_1 .box_2 {
  position: relative;
  width: 521px;
  height: 210px;

  background: #f0f0f6;
}

/* ????? */
.about_frame .right_container {
  position: relative;
  width: 370px;
  height: 756px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_frame .right_container .headline_2 {
  position: relative;
  width: 315px;
  height: 40px;

  display: flex;
  align-items: flex-start;

  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
}

.about_frame .right_container .wrapper_2 {
  position: relative;
  width: 370px;
  height: 665px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_container .wrapper_2 .box_1 {
  margin-top: 25px;
  position: relative;
  width: 370px;
  height: 210px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: #ffffff;
}

.wrapper_2 .box_1 .img {
  margin-left: 165px;
  position: relative;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  border-radius: 50%;

  background: #ffb400;
}

.wrapper_2 .box_1 .country {
  position: relative;
  width: 320px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MAP FRAME */
.map_frame {
  margin-top: 70px;
  position: relative;
  width: 970px;

  height: 300px;

  border: 1px dotted black;
}

/* LOGO FRAME */
.logo_frame {
  margin-top: 70px;
  position: relative;
  width: 970px;
  height: 140px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* END FRAME */
.end_frame {
  margin-top: 18px;
  position: relative;
  width: 970px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
}

.end_frame span {
  position: relative;
  width: 251px;
  height: 24px;

  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #2b2b2b;
}

/* RIGHT FRAME */
.main_frame .right_frame {
  margin-top: 2px;
  margin-left: 27px;
  position: relative;
  width: 108px;
  height: 1315px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px dotted #767676;
  background-color: white;
}

.main_frame .right_frame .top_box {
  margin-top: 50px;
  position: relative;
  width: 30px;
  height: 30px;
}

.main_frame .right_frame .bottom_box {
  margin-top: 254px;

  position: relative;
  width: 65px;
  height: 493px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
